.git/
.github/
EnvHatsuneMiku/
.venv/
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.env
**/.env.*
logs/
data/
old_files/
tests/
docs/
githubpictures/
test.py
pyrightconfig.json
.markdownlint.json
README.md
requirements.in
scripts/
.DS_Store
