# Created by venv; see https://docs.python.org/3/library/venv.html
*HatsuneMikuENV
*__pycache__
*.HatsuneMikuENV
*audio_files
*.env
*old_files
*commandsync.py
*test.py
*pyrightconfig.json
*lazyrun.sh
*.markdownlint.json
*prodbotenv.txt
*Dockerfile
*.dockerignore
